
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color:orange;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: mediumseagreen;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus, select:focus, button:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: green;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    background-color: #eef2f7;
    margin-bottom: 8px;
    border-radius: 4px;
}

h3 {
    color: #2d3e50;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
